* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#main,
#footer {
  background-color: #1f2937;
}

#main {
  height: 450px;
}

.navbar h1 {
  font-size: 24px;
  color: #f9faf8;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.navbar .links {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.navbar .links a {
  padding: 10px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 70px;
  width: 80%;
}

.main-content-left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main-content-left {
  font-size: 18px;
  color: #e5e7eb;
}

.main-content-left button {
  color: white;
  background-color: #3882f6;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 5px;
  width: 90px;
  margin-top: 15px;
  cursor: pointer;
}

.main-content-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.main-image img {
  width: 400px;
  height: 200px;
}
