* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Section 1 */

#main,
#footer {
  background-color: #1f2937;
}

#main {
  height: 450px;
}

.navbar h1 {
  font-size: 24px;
  color: #f9faf8;
}

.navbar a {
  text-decoration: none;
  color: gray;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.navbar .links {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.navbar .links a {
  padding: 10px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 70px;
  width: 80%;
}

.main-content-left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main-content-left {
  font-size: 18px;
  color: grey;
}

.main-content-left .btn {
  color: white;
  background-color: #3882f6;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 5px;
  width: 90px;
  margin-top: 15px;
  cursor: pointer;
}

.main-content-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.main-image img {
  width: 400px;
  height: 200px;
}

/* Section 2 */

#two h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.img-gallery {
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin: auto;
  padding-bottom: 50px;
}

.img-container {
  height: 120px;
  width: 120px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  /* background: url("https://images.unsplash.com/photo-1505533321630-975218a5f66f?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D"); */
}

.item {
  height: 200px;
  width: 120px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.item p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
  text-align: center;
}

/* Section 3 */

#three {
  height: 350px;
  background-color: rgb(203, 200, 200);
  padding-top: 80px;
}

.quote-container{
    width: 60%;
    height: 175px;
    margin: auto;
}

.quote-container p{
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    color: rgb(42, 40, 40);
}

.quote-container #author{
   text-align: end;
   font-weight: bold;
}